body {
  font-family: "Futura", "Helvetica", sans-serif;
}
.project-bin {
  min-height: 200px;
  width: 100%;
  border: none;
  background-color: eee;
  draggable: true;
}
.project-bin--hovering {
  border: 1px #add8e6 solid;
  line-heigt: 200px;
  text-aling: center;
}
.project-item {
  width: 200px;
  height: 200px;
  float: left;
  text-align: center;
  background-color: ccc;
  border: 1px #808080 solid;
  line-heigt: 200px;
}
.project-item > img {
  max-width: 100%;
  max-height: 100%;
}
.timeline {
  height: 200px;
  width: 100%;
  background-color: #aaa;
}
