body
  font-family: "Futura", "Helvetica", sans-serif

.project-bin
  min-height: 200px
  width: 100%
  border: none
  background-color eee

.project-bin--hovering
  border: 1px lightblue solid
  line-heigt: 200px
  text-aling: center

.project-item
  width: 200px
  height: 200px
  float: left
  text-align: center
  background-color ccc
  border: 1px gray solid
  line-heigt: 200px

