.project-bin {
  min-height: 200px;
  width: 100%;
  border: none;
  background-color: eee;
}
.project-bin--hovering {
  border: 1px #00f solid;
}
.project-item {
  width: 200px;
  height: 200px;
  float: left;
}
